body {
    font-family: Helvetica, Arial, sans-serif;
}
a {
    color: #c01fb6;
    text-decoration: none;
}
button {
    background: #7a30c2;
    border: 0;
    padding: 8px 12px;
    font-size: 20px;
    color: #fff;
    border-radius: 80px;
}
button:hover {
    background: #c01fb6;

}